.mentors{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn, .back-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #212EA0;
}
.back-btn{
    right: auto;
    left: 0;
}
.sliderr{
    overflow: hidden;
}
.sliderr ul{
    display: flex;
    width: 350%;
    overflow-x: hidden;
    transition: 0.5s;
}
.sliderr ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}
.slide{
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding: 40px !important;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
}
.slide img{
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212EA0;
}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.user-info h3{
    color: #212EA0;
}

/* ------- media query ------------- */
@media (max-width: 800px){
    .mentors{
        padding: 0 40px;
    }
    .sliderr ul{
        width: 500%;
    }
    .next-btn, .back-btn{
        padding: 10px;
        width: 35px;
    }
    .testimonials ul li{
        padding: 10px;
    }
    .slide{
        padding: 10px;
    }
    .slide img{
        width: 50px;
        border: 3px solid #212EA0;
    }
}
@media (max-width: 600px){
    .sliderr ul{
        width: 720%;
    }
    .user-info{
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .user-info h3{
        font-size: 16px;
    }
    .sliderr p{
        font-size: 12px;
    }
}